<h1>Items For Sale</h1>

<p>Other users are selling things. Have a look by clicking the item.</p>

      <table>
        <thead>
          <tr>
              <th>Seller</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          {{#each data}}
          <tr>
            <td>{{user_id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td><a href="/listings/{{id}}"><button>ITEM</button></a></td>
            <td><a href="/profile/{{user_id}}"><button>SELLER</button></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <ul class="collection col s12 m4">
            <li class="collection-item avatar">
            <img src="/images/hammer.jpg" alt="" class="circle">
            <span class="title">Hammer</span>
              <p>Awesome hammer for hammering things<br>
                  *no blood*
              </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
      </ul>